.keyboard{
    box-shadow: rgb(185, 185, 185) 5px 0px 10px;
    width: 100%;
    margin: 20px auto;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    opacity: 0;
    z-index: -50;
    transition: 1s all;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 1.4rem;
}
.keyboard.show{
    opacity: 1;
    z-index: 5;
}
.btn{
    font-size: 1.5rem;
}
.keyboard ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(189, 138, 10);

}
.keyboard li{
    display: flex;
    margin: 5px;
    
}
.keyboard button{
    background-color: transparent;
    border: 1px rgb(236, 217, 38) solid;
    -webkit-box-shadow: 0 0 3px rgb(255, 212, 104);
    -webkit-box-shadow: inset 0 0 3px rgb(255, 212, 104);
    margin: 5px;
    padding: 15px 60px 35px 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    outline: none;
}
.keyboard button:hover{
    background-color: rgb(226, 182, 71);
    color: white;
} 


#re, #show, .convert, #download{
    background: transparent;
    border-radius: 9999px;
    box-shadow: none;
    padding: 5px 20px;
    font-size: 1.5rem;
}
#re{
    border: steelblue solid 2px;
    color: black;
    position: fixed;
    bottom: 5px;
    left: 4px;
    background: white;
}
#re2{
    border: rgb(187, 7, 7) solid 2px;
    color: black;
    position: fixed;
    bottom: 5px;
    left: 120px;
    background: white;
    padding: 5px 20px;
    font-size: 1.5rem;
}
#re2m{
    border: rgb(187, 7, 7) solid 2px;
    color: black;
    position: fixed;
    bottom: 5px;
    left: 50px;
    background: white;
    display: none;
}
#re:hover{
    color: white;
    background-color: steelblue;
}
#rem:hover{
    color: white;
    background-color: steelblue;
}
#re2:hover{
    color: white;
    background-color: rgb(187, 7, 7);
}
#re2m:hover{
    color: white;
    background-color: rgb(187, 7, 7);
}
.convert, #show, #download{
    border: goldenrod solid 2px;
}
.convert:hover{
    color: white;
    background-color: goldenrod;
}
#show:hover{
    color: white;
    background-color: goldenrod;
}
#download:hover{
    color: white;
    background-color: goldenrod;
}
#rem{
    display: none;
    border: steelblue solid 2px;
    color: black;
    position: fixed;
    bottom: 5px;
    left: 4px;
    background: white;
}
@media only screen and (max-width: 650px){
    #rem{
        display: block;
    }
    #re{
        display: none;
    }
    #re2m{
        display: block;
    }
    #re2{
        display: none;
    }
}