{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">About PhonicDocx</h1>
<div class="container py-5">
        <p>Our project PhonicDocx is a voice enabled version of LaTeX. It is a website where you can prepare documents containing a high amount of mathematical data and symbols simply by using voice recognition.

            The usual LaTeX and other alternatives require you to type code for specific symbols to display them. We aimed at eliminating the need of knowing the particular code of these languages and softwares. We wanted that any laymen and even the professionals can prepare highly technical details at ease by just speaking what they want to be included.
            
            Our website takes your voice input and processes the data received. It identifies the symbol words and swaps it for the appropriate representation. The website is a one stop destination, integrated with the basic features of a text editor and also a full fledged symbol keyboard. 
        </p>
  </div>
  {% endblock %}