{% extends "base.html" %}    
{% block content %} 
  <section class="editora">
		<div class="flex-box">
			<div class="row">
				<div class="col" style="text-align: center; justify-content: center;">
					<!-- Adding different buttons for
						different functionality-->
					<!--onclick attribute is added to give
						button a work to do when it is clicked-->
					<button type="button"
							onclick="f1()"
							class=" shadow-sm btn btn-outline-secondary"
							data-toggle="tooltip"
							data-placement="top"
							title="Bold Text">
			Bold</button>
					<button type="button"
							onclick="f2()"
							class="shadow-sm btn btn-outline-success"
							data-toggle="tooltip"
							data-placement="top"
							title="Italic Text">
			Italic</button>
					<button type="button"
							onclick="f3()"
							class=" shadow-sm btn btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Left Align">
			<i class="fas fa-align-left"></i></button>
					<button type="button"
							onclick="f4()"
							class="btn shadow-sm btn-outline-secondary"
							data-toggle="tooltip"
							data-placement="top"
							title="Center Align">
			<i class="fas fa-align-center"></i></button>
					<button type="button"
							onclick="f5()"
							class="btn shadow-sm btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Right Align">
			<i class="fas fa-align-right"></i></button>
					<button type="button"
							onclick="f6()"
							class="btn shadow-sm btn-outline-secondary"
							data-toggle="tooltip"
							data-placement="top"
							title="Uppercase Text">
			Upper Case</button>
					<button type="button"
							onclick="f7()"
							class="btn shadow-sm btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Lowercase Text">
			Lower Case</button>
					<button type="button"
							onclick="f8()"
							class="btn shadow-sm btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Capitalize Text">
			Capitalize</button>
					<button type="button"
							onclick="f9()"
							class="btn shadow-sm btn-outline-primary side"
							data-toggle="tooltip"
							data-placement="top"
							title="Tooltip on top">
			Clear Text</button>
      				<button onclick="showKeyboard()" id="show"data-toggle="tooltip"
					  data-placement="top">Open Keyboard</button>
				</div>
			</div>
		</div>
		<br>
		<div class="row23">
      <form method="POST" action="">
        {% csrf_token %}
		<button type="submit" class="convert"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16" style="padding-right: 5px;"> 
			<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
		  </svg> Convert</button>
			<div class="col">
					<textarea id="textarea1"
							class="input shadow"
							name="inp"
							placeholder="Input text here"  onselect="getSelectedText()">
					</textarea>
			</div>
    </form>
			<div class="col">
				<button id="download" onclick="savePDF()"  style="padding: 5px 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
				  </svg>Download as PDF</button>
        <textarea id="textarea2"
							class="input shadow"
							name="name"
							placeholder="Output text here ">
              {{userd}}
					</textarea>
					<!-- <button onclick="refine()">Refine</button> -->
			</div>
		</div>
		<div id= 'record'>
			<button onclick="startConverting()" class='btn btn-info btn-sm' id="re"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16" style="padding-right: 5px;">
			  <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
			  <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
			</svg>Record</button>
			<button onclick="startConverting()" class='btn btn-info btn-sm' id="rem"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
				<path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
				<path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
			  </svg></button>
			<button onclick="stopConverting()" class='btn btn-info btn-sm' id="re2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"id="closebut" style="padding-right: 5px;">
				<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
			  </svg>Stop</button>
			  <button onclick="stopConverting()" class='btn btn-info btn-sm' id="re2m"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" id="closebut">
				<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
			  </svg></button>
		</div>
	</section>
	<br>
	<br>
	<div class="tempp">
		
	</div>
  <div class="keyboard">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16" style="position: absolute; right:5px; top: 5px; cursor: pointer;" id="closebut" onclick="closeKeyb()">
		<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
	  </svg>
    <ul>
        <li><button onclick="typesym(this.id)" id="intsymb">&#x222b</button></li>
        <li><button onclick="typesym(this.id)" id="curlsymb">&#x2207</button></li>
        <li><button onclick="typesym(this.id)" id="deltasymb">&#x2206</button></li>
        <li><button onclick="typesym(this.id)" id="phisymb">&#x2205</button></li>
        <li><button onclick="typesym(this.id)" id="summasymb">&#x2211</button></li>
        <li><button onclick="typesym(this.id)" id="sqrtsymb">&#x221A</button></li>
        <li><button onclick="typesym(this.id)" id="intsymb">&#x222b</button></li>
        <li><button onclick="backspace()" id="backsymb">Backspace</button></li>
    </ul>        
</div>
<script>
	window.onbeforeunload = function(){
		sessionStorage.setItem("inputpe", document.getElementById("textarea1").value)
	}
	window.onload = function(){
		var inp = sessionStorage.getItem("inputpe")
		if (inp !== null){
			document.getElementById("textarea1").value = inp;
		}
	}
    var input = document.getElementById("textarea2");
    function typesym(clicked_id){
        var content = document.getElementById(clicked_id).textContent;
        var old_content = input.value;
        input.value = old_content+content;

    }
    function backspace(){
        input.value = input.value.slice(0, -1);
    }
    
    const show_key = document.querySelector("#show");
    const keyboard = document.querySelector(".keyboard");
    show_key.onclick = (() => {
        keyboard.classList.toggle("show");
        if (show_key.innerHTML === "Open Keyboard"){
            show_key.innerHTML = "Close Keyboard";
        } else {
            show_key.innerHTML = "Open Keyboard";
        }
    })
function closeKeyb(){
	keyboard.classList.toggle("show");

}
</script> 

  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
   
{% endblock %}