 {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= " {% static 'style.css' %} " >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" type="img/png" href="{% static 'img/titlelogo.png' %}">

    <title>PhonicDocx</title>
    <!---editor-->
    <link rel="stylesheet"
		href=
"https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity=
"sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
		crossorigin="anonymous">
	<!-- fontawesome cdn For Icons -->
	<link rel="stylesheet"
		href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
		integrity=
"sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href=
"https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity=
"sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
		crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
	<!--Internal CSS start-->
	<style>
		
		
		.side {
			margin-left: 0;
		}
		
		.editora button {
			margin: 10px;
			border: goldenrod solid 2px;
      color: black;
			margin-bottom: 25px;
      border-radius: 9999px;
	  background: transparent;
	  font-size: 1.5rem;
		}
		
		.editora button:hover {
			background-color: goldenrod;
      color: white;
      border: goldenrod solid 2px;
		}
		
		textarea {
			padding:3% 0%;
      width: 100%;
      resize: none;
	  height: 750px;
	  font-size: 1.4rem;
		}
		
		.flex-box {
			display: flex;
			justify-content: center;
		}
	</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="{% static 'img/logo.png' %}" alt="" class="d-inline-block align-text-top" width="210px" height="60px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#" style="margin-left: 20px;">Home</a>
            <a class="nav-link" href="#" style="margin-left: 20px;">About</a>
            <a class="nav-link" href="#" style="margin-left: 20px;">Team</a>
          </div>
        </div>
      </div>
    </nav>
  
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href=" {% static 'editor.css' %} "type="text/css" rel="stylesheet"/>
<script src= " {% static 'app.js' %} " ></script>
<script src=" {% static 'editor.js' %} "> </script>
  <section class="editora">
		<div class="flex-box">
			<div class="row">
				<div class="col" style="text-align: center; justify-content: center;">
					<!-- Adding different buttons for
						different functionality-->
					<!--onclick attribute is added to give
						button a work to do when it is clicked-->
					<button type="button"
							onclick="f1()"
							class=" shadow-sm btn btn-outline-secondary"
							data-toggle="tooltip"
							data-placement="top"
							title="Bold Text">
			Bold</button>
					<button type="button"
							onclick="f2()"
							class="shadow-sm btn btn-outline-success"
							data-toggle="tooltip"
							data-placement="top"
							title="Italic Text">
			Italic</button>
					<button type="button"
							onclick="f3()"
							class=" shadow-sm btn btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Left Align">
			<i class="fas fa-align-left"></i></button>
					<button type="button"
							onclick="f4()"
							class="btn shadow-sm btn-outline-secondary"
							data-toggle="tooltip"
							data-placement="top"
							title="Center Align">
			<i class="fas fa-align-center"></i></button>
					<button type="button"
							onclick="f5()"
							class="btn shadow-sm btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Right Align">
			<i class="fas fa-align-right"></i></button>
					<button type="button"
							onclick="f6()"
							class="btn shadow-sm btn-outline-secondary"
							data-toggle="tooltip"
							data-placement="top"
							title="Uppercase Text">
			Upper Case</button>
					<button type="button"
							onclick="f7()"
							class="btn shadow-sm btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Lowercase Text">
			Lower Case</button>
					<button type="button"
							onclick="f8()"
							class="btn shadow-sm btn-outline-primary"
							data-toggle="tooltip"
							data-placement="top"
							title="Capitalize Text">
			Capitalize</button>
					<button type="button"
							onclick="f9()"
							class="btn shadow-sm btn-outline-primary side"
							data-toggle="tooltip"
							data-placement="top"
							title="Tooltip on top">
			Clear Text</button>
      				<button onclick="showKeyboard()" id="show"data-toggle="tooltip"
					  data-placement="top">Open Keyboard</button>
				</div>
			</div>
		</div>
		<br>
		<div class="row23">
      <form method="POST" action="">
        {% csrf_token %}
		<button type="submit" class="convert"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16" style="padding-right: 5px;"> 
			<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
		  </svg> Convert</button>
			<div class="col">
					<textarea id="textarea1"
							class="input shadow"
							name="inp"
							placeholder="Your text here "  onselect="getSelectedText()">
					</textarea>
			</div>
    </form>
			<div class="col">
				<button id="download" onclick="savePDF()"  style="padding: 5px 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
				  </svg>Download as PDF</button>
        <textarea id="textarea2"
							class="input shadow"
							name="name"
							placeholder="Your text here ">
              {{userd}}
					</textarea>
					<!-- <button onclick="refine()">Refine</button> -->
			</div>
		</div>
		<div id= 'record'>
			<button onclick="startConverting()" class='btn btn-info btn-sm' id="re"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16" style="padding-right: 5px;">
			  <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
			  <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
			</svg>Record</button>
			<button onclick="startConverting()" class='btn btn-info btn-sm' id="rem"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
				<path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
				<path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
			  </svg></button>
			<button onclick="stopConverting()" class='btn btn-info btn-sm' id="re2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"id="closebut" style="padding-right: 5px;">
				<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
			  </svg>Stop</button>
			  <button onclick="stopConverting()" class='btn btn-info btn-sm' id="re2m"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" id="closebut">
				<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
			  </svg></button>
		</div>
	</section>
	<br>
	<br>
	<div class="tempp">
		
	</div>
  <div class="keyboard">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16" style="position: absolute; right:5px; top: 5px; cursor: pointer;" id="closebut" onclick="closeKeyb()">
		<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
	  </svg>
    <ul>
        <li><button onclick="typesym(this.id)" id="intsymb">&#x222b</button></li>
        <li><button onclick="typesym(this.id)" id="curlsymb">&#x2207</button></li>
        <li><button onclick="typesym(this.id)" id="deltasymb">&#x2206</button></li>
        <li><button onclick="typesym(this.id)" id="phisymb">&#x2205</button></li>
        <li><button onclick="typesym(this.id)" id="summasymb">&#x2211</button></li>
        <li><button onclick="typesym(this.id)" id="sqrtsymb">&#x221A</button></li>
        <li><button onclick="typesym(this.id)" id="intsymb">&#x222b</button></li>
        <li><button onclick="backspace()" id="backsymb">Backspace</button></li>
    </ul>        
</div>
<script>
	window.onbeforeunload = function(){
		sessionStorage.setItem("inputpe", document.getElementById("textarea1").value)
	}
	window.onload = function(){
		var inp = sessionStorage.getItem("inputpe")
		if (inp !== null){
			document.getElementById("textarea1").value = inp;
		}
	}
    var input = document.getElementById("textarea2");
    function typesym(clicked_id){
        var content = document.getElementById(clicked_id).textContent;
        var old_content = input.value;
        input.value = old_content+content;

    }
    function backspace(){
        input.value = input.value.slice(0, -1);
    }
    
    const show_key = document.querySelector("#show");
    const keyboard = document.querySelector(".keyboard");
    show_key.onclick = (() => {
        keyboard.classList.toggle("show");
        if (show_key.innerHTML === "Open Keyboard"){
            show_key.innerHTML = "Close Keyboard";
        } else {
            show_key.innerHTML = "Open Keyboard";
        }
    })
function closeKeyb(){
	keyboard.classList.toggle("show");

}
</script> 

  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
   
  </body>

</html>